@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap")

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #444;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  line-height: 1.7;
  padding: 1rem;
  margin: auto;
  background: #fefefe;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:visited {
  color: #0b0080;
}

a:hover {
  color: #06e;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

p {
  margin: 1rem 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #4400ad;
  line-height: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
  line-height: 110%;
  color: #0077C8;
  font-weight: normal;
}

h1 {
  font-size: 2.074rem;
}

h2 {
  font-size: 1.44rem;
}

h3 {
  font-size: 1.2rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3rem;
  border-left: 0.5rem #EEE solid;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1rem 0;
  padding: 0;
}

pre, code, kbd, samp {
  color: #000;
  font-family: monospace, monospace;
  font-family: 'courier new', monospace;
  font-size: 0.98rem;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

ul, ol {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin: .3rem 0;
}

dl {
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
  margin-bottom: .8rem;
}

dd {
  margin: 0 0 .8rem 2rem;
}

dd:last-child {
  margin-bottom: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

figure img {
  border: none;
  margin: 0 auto;
}

figcaption {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 0 .8rem;
}

table {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: .2rem 1rem;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: .2rem 1rem;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

.author {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media print {
  * {
    background: transparent !important;
  }

  body {
    font-size: 12pt;
    max-width: 100%;
  }

  a, a:visited {
    text-decoration: underline;
  }

  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    padding-right: 1rem;
    page-break-inside: avoid;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page :left {
    margin: 10mm 15mm 10mm 10mm;
}

  @page :right {
    margin: 10mm 15mm 10mm 10mm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
